@model AGE.CMS.Data.Models.Intake.viewAbuserInformation


@if (Model.ListOfAbusers.Count > 0)
{
    <table class="table table-striped table-hover " border="1">
        <caption style="display: none">List Of Abusers</caption>
        <thead>
            <tr>               
                <th class="col-md-1">Last Name</th>
                <th class="col-md-1">First Name</th>              
                <th class="col-md-1">SSN</th>
                <th class="col-md-1">Sex</th>
                @*  <th class="col-md-1">Race</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOfAbusers)
            {
                <tr class="">                   
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>                   
                    <td>@Html.DisplayFor(modelItem => item.SocialSecurityNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.GenderTypeDescription)</td>
                    @* <td>@Html.DisplayFor(model => model.Race)</td>*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No Record Found !
    </div>
}
