@model AGE.CMS.Data.Models.Intake.viewORA

@{
    ViewBag.Title = "View ORA";
}

<script>
    $(document).ready(function () {
        $("#editclientbutton").hide();
        //$(function () {
        //    $('input, select, textarea').attr('disabled', 'disabled');
        //});
        $('#print').on('click', function () {


            var template = $('#ViewORAData').clone();

            template.find("#heading").show();
            template.find('.noprint').remove();
            Print(template);
        });
        $('#heading').hide();
    });
    function Print(template) {
        //alert(template.html());
        //var w = window.open();
        var w = window.open("", "popupWindow", "width=600, height=400, scrollbars=yes");
        var html = template.html();

        $(w.document.body).html(html);
        w.print();




    }
</script>

<div class="container">
    <div class="panel panel-warning">

        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="titletextbegin">
                    <span class="glyphicon glyphicon-eye-open"></span><span class="textspace">
                        <text>Overall Risk Assessment Update</text>
                    </span>
                </span>
            </h2>
        </div>



        <div class="panel-body" id="ViewORAData">
            @using (Html.BeginForm("ViewORA", "Case"))
                {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CaseheaderId)
                @Html.HiddenFor(model => model.IntakeId)
                <div class="row nextline " id="heading" style="border-bottom: 2px solid black">
                    <div class="pull-left" id="logoidoa" style="float:left">
                        <div id="imagelogo" align="center" style="float:left">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                 width="185px" height="70px" viewBox="0 0 250.000000 99.000000"
                                 preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,99.000000) scale(0.100000,-0.100000)"
                                   fill="#000000" stroke="none">
                                    <path d="M310 903 c0 -7 5 -13 10 -13 6 0 10 -7 10 -15 0 -8 5 -15 10 -15 31
                                    0 -4 -58 -38 -63 -35 -5 -49 -24 -35 -46 10 -16 8 -24 -14 -47 -16 -18 -28
                                    -44 -31 -69 -4 -36 0 -47 29 -80 18 -21 33 -47 34 -59 0 -17 5 -20 28 -18 30
                                    3 34 -11 15 -53 -10 -23 -9 -29 14 -50 14 -13 28 -22 31 -19 9 9 27 -24 31
                                    -55 2 -18 8 -37 13 -42 6 -6 139 -9 344 -7 322 3 336 4 379 25 44 22 44 22 65
                                    3 39 -37 70 -41 256 -34 165 7 179 9 179 26 0 14 -8 18 -34 18 -19 0 -38 5
                                    -41 11 -4 5 7 45 24 87 l31 77 132 -2 132 -2 27 -68 c39 -95 38 -103 -11 -103
                                    -33 0 -40 -3 -40 -20 0 -19 7 -20 135 -20 128 0 135 1 135 20 0 14 -7 20 -22
                                    20 -13 0 -29 4 -36 9 -13 8 -163 345 -249 559 -20 49 -29 62 -47 62 -17 0 -27
                                    -14 -50 -67 -16 -38 -53 -123 -84 -191 l-55 -123 -13 36 c-24 71 -95 121 -183
                                    132 -43 5 -49 9 -60 39 -6 18 -37 55 -67 83 -91 83 -96 84 -556 86 -328 2
                                    -398 0 -398 -12z m113 -15 c3 -11 17 -18 43 -20 37 -3 39 -5 46 -43 7 -38 -2
                                    -207 -9 -175 -3 13 -24 14 -128 12 -69 -2 -125 -1 -125 2 0 3 9 20 20 38 13
                                    23 16 38 10 48 -15 23 -12 30 10 30 26 0 70 43 70 68 0 11 -7 25 -15 32 -26
                                    21 -17 30 29 28 32 -2 46 -8 49 -20z m310 -58 c5 -19 7 -145 5 -278 -6 -271
                                    -4 -264 -73 -260 l-40 3 -3 279 c-2 217 1 281 10 288 7 4 31 7 52 6 36 -3 41
                                    -6 49 -38z m327 20 c59 -11 112 -46 141 -94 37 -59 35 -72 -13 -124 -33 -35
                                    -48 -62 -58 -100 -12 -53 -7 -130 11 -164 7 -14 3 -20 -18 -31 -59 -31 -180
                                    -45 -252 -31 l-31 7 0 268 0 268 23 4 c43 8 145 7 197 -3z m753 -227 l45 -103
                                    -108 0 -108 0 50 113 c27 61 52 119 56 127 4 10 8 7 13 -10 4 -14 27 -71 52
                                    -127z m-376 2 c51 -58 68 -197 34 -272 -31 -67 -90 -89 -158 -56 -55 26 -61
                                    52 -25 102 41 56 64 131 66 206 l1 62 30 -8 c17 -5 40 -20 52 -34z m-202 -113
                                    c-4 -26 -10 -41 -12 -34 -3 7 -2 34 2 60 4 26 10 41 12 34 3 -7 2 -34 -2 -60z">


                                    </path>
                                </g>
                            </svg><br />
                        </div>
                    </div>

                    <h2 style="text-align: center"> Illinois Department on Aging APS</h2>

                    <h3 style="text-align: center"> Overall Risk Assessment Update </h3>
                </div>
                <div class="row nextline"></div>
                <div class="container">
                    <div class="row nextline">
                        <div class="form-group">
                            <div class="col-md-1 pull-right">
                                <div class ="row">
                                <div class="btn-group pull-right" style="margin-right: 10px;">
                                    <a href="" class="btn btn-warning noprint" id="print" value="Print">Print</a>
                                    <a id="cancelprep" rel="tooltip" class="btn btn-default btn-md noprint" title=" Cancel " href="@Url.Action("ManageCase", "Case", new{ CaseheaderId = Model.viewIntake.CaseheaderId})">Cancel</a>
                                    @* <input type="button" class="btn btn-warning noprint" id="print" value="Print" />*@
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nextline">
                        @Html.Partial("_ViewClientCMS", Model.viewIntake.viewCaseHeader.Client)
                    </div>



                    <div class="well" id="RiskCategories" style="background-color: #fff">
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <b><u>To reflect conditions prior to interventions / APS involvenment:</u></b><br />
                                <br />

                                <b>Low Risk:</b>
                                <text>Client's social environmental and functional status support that the client is not at risk of ANE and/or SN in his/her living situation</text>
                                <br />
                                <br />
                                <b>Meduium Risk:</b>
                                <text>There are factors present that suggest that the client may be at some risk of ANE and/or SN in his/her living situation</text>
                                <br />
                                <br />
                                <b>High Risk:</b>
                                <text>There are indications that the client is very likely to be at risk of ANE and/or SN in his/her living situation</text>
                                <br />
                                <br />
                            </div>
                        </div>

                        <div class="row nextline" id="Initail Risk Level">
                            <div class="col-lg-6 ">
                                <b><u>Risk Assessment - Overall Risk Level:</u></b><br />
                                <div>
                                    @Html.CheckBoxFor(model => model.IsANENA) @Html.LabelFor(model => model.IsANENA) /   @Html.CheckBoxFor(model => model.IsSNNA) @Html.LabelFor(model => model.IsSNNA)
                                    <br />
                                    @Html.CheckBoxFor(model => model.IsLowANE, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsLowANE) /   @Html.CheckBoxFor(model => model.IsLowSN, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsLowSN)
                                    <br />
                                    @Html.CheckBoxFor(model => model.IsMediumANE, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsMediumANE) / @Html.CheckBoxFor(model => model.IsMediumSN, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsMediumSN)
                                    <br />
                                    @Html.CheckBoxFor(model => model.IsHighANE, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsHighANE) /   @Html.CheckBoxFor(model => model.IsHighSN, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsHighSN)
                                    <br />
                                </div>
                            </div>
                            <div class="col-lg-2 form-group ">
                                @Html.LabelFor(model => model.DateFTF)
                                <div>
                                    @Html.TextBoxFor(model => model.DateFTF, "{0:MM/dd/yyyy}", new { @class = "form-control  DateFTF", @placeholder = "FTF Date", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.DateFTF)
                                </div>
                            </div>
                             <div class="col-md-3 form-group ">
                                @Html.LabelFor(model => model.AssociatedMonthId)
                                <div>
                              
                                @Html.DropDownListFor(model => model.AssociatedMonthId, new SelectList(new[] { new AGE.CMS.Data.Models.Case.viewCasePlanTime { Id = 0, Description = " Select Associated Month" } }.Union(Model.ListCasePlanTime), "Id", "Description", Model.AssociatedMonthId), new { @class = "form-control", @disabled = "disabled"})
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well" id="ChangesFromPreviousAssessment" style="background-color: #fff">
                        <div class="row">
                            <b>Changes from Previous Risk Assessment Should Be Noted Below (Under Rationale)</b>
                        </div>
                        <div class="row nextline">
                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.FunctionalAbilities)
                                <br />
                                @Html.CheckBoxFor(model => model.IsFunctionalAbilities, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsFunctionalAbilities)
                                <br />
                                @Html.DisplayFor(model => model.FunctionalAbilities, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>


                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.MentalAbilities)
                                <br />
                                @Html.CheckBoxFor(model => model.IsMentalAbilities, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsMentalAbilities)
                                <br />
                                @Html.DisplayFor(model => model.MentalAbilities, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>

                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.Environment)
                                <br />
                                @Html.CheckBoxFor(model => model.IsEnvironment, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsEnvironment)
                                <br />
                                @Html.DisplayFor(model => model.Environment, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>

                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.SubstanceAbuse)
                                <br />
                                @Html.CheckBoxFor(model => model.IsSubstanceAbuse, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsSubstanceAbuse)
                                <br />
                                @Html.DisplayFor(model => model.SubstanceAbuse, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>

                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.FinancialResources)
                                <br />
                                @Html.CheckBoxFor(model => model.IsFinancialResources, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsFinancialResources)
                                <br />
                                @Html.DisplayFor(model => model.FinancialResources, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>

                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.FormalAndInformalServices)
                                <br />
                                @Html.CheckBoxFor(model => model.IsFormalAndInformalServices, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsFormalAndInformalServices)
                                <br />
                                @Html.DisplayFor(model => model.FormalAndInformalServices, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>

                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.AbuserFactors)
                                <br />
                                @Html.CheckBoxFor(model => model.IsAbuserFactors, new { @disabled = "disabled" }) @Html.LabelFor(model => model.IsAbuserFactors)
                                <br />
                                @Html.DisplayFor(model => model.AbuserFactors, new { @class = "form-control", @disabled = "disabled" })<br />
                            </div>
                        </div>
                        <div class="row nextline">
                            <div class="col-lg-6 ">
                                @Html.LabelFor(model => model.Rationale)
                                <div>
                                    @Html.DisplayFor(model => model.Rationale, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row nextline">
                            <div class="col-lg-3 ">
                                @Html.LabelFor(model => model.CaseworkerSignature)
                                <div>
                                    @Html.TextBoxFor(model => model.CaseworkerSignature, new { @class = "form-control", @placeholder = "Sign", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-3 ">
                                @Html.LabelFor(model => model.CaseworkerSignatureDate)
                                <div>
                                    @Html.TextBoxFor(model => model.CaseworkerSignatureDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @placeholder = "Date", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="well row nextline">
                            <div class="col-lg-3 ">
                                @Html.LabelFor(model => model.SupervisorName)
                                <div>
                                    @Html.TextBoxFor(model => model.SupervisorName, new { @class = "form-control", @placeholder = "Sign" })
                                </div>
                            </div>
                            <div class="col-lg-3 ">
                                @Html.LabelFor(model => model.SupervisorSignatureDate)
                                <div>
                                    @Html.TextBoxFor(model => model.SupervisorSignatureDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @placeholder = "Date" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                }

        </div>
    </div>
</div>

