@model AGE.CMS.Data.Models.Intake.viewClientCMS

@{
    ViewBag.Title = "PartialListCaseRecording";
}

<script>
    $(document).ready(function () {

        $('#myCaseRecordingModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var Id = button.data('transfer')
            var modal = $(this)            
            modal.find('.modal-body #id').val(Id)           

        })

        if (@Model.ListofCaseRecordingForms.Count != 0) {
            $('#newCaseRecording').hide();
        }

    });
</script>


<div class="container">  
 
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IntakeId)
    @Html.HiddenFor(model => model.Person.FirstName)
    @Html.HiddenFor(model => model.Person.LastName)
    @Html.HiddenFor(model => model.Person.DOB)
    <p>
       
        <a  id="newCaseRecording" class="btn btn-success create" type="button" data-toggle="modal" data-target="#myCaseRecordingModal">
            <span class="glyphicon glyphicon-plus"></span><span style="margin-left: 5px;">
                <text>New Case Recording Form</text>
            </span>
        </a>

          @if (Model.ListofCaseRecordingForms != null && Model.ListofCaseRecordingForms.Any())
                    {
                        <table class="table table-striped table-hover ">
                            <caption style="display: none">List of Preparation Forms</caption>
                            <thead>
                                <tr>
                                    <th class="col-md-1">&nbsp;</th>
                                    <th class="col-md-1">CaseRecording Id</th>
                                    <th class="col-md-1">Intake Id</th>
                                    <th class="col-md-1">Date Created</th>                                    
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.ListofCaseRecordingForms)
                                {

                                    <tr class="">
                                        <td>
                                            <div class="btn-group">
                                                <a rel="tooltip" class="btn btn-default btn-sm" title="Edit Case Recording " href='@Url.Action("EditCaseRecording", "Case", new { Id = Model.Id, CaseheaderId = Model.CaseheaderId, IntakeId = item.IntakeId, CaseRecordingId = item.Id })'><span class="glyphicon glyphicon-edit"></span></a>
                                                <a rel="tooltip" class="btn btn-default btn-sm" title="Print Case Recording " href='@Url.Action("PrintCaseRecording", "Case", new { Id = item.Id , ClientId = Model.Id })'><span class="glyphicon glyphicon-print"></span></a>
                                                @*<a rel="tooltip" class="btn btn-default btn-sm" title="View Intake " href='@Url.Action("ViewIntake", "Intake", new { ClientId = Model.Id, Id = item.Id })'><span class="glyphicon glyphicon-eye-open"></span></a>
                                                <a rel="tooltip" class="btn btn-default btn-sm" title="Print Intake " href='@Url.Action("PrintIntake", "Intake", new { ClientId = Model.Id, Id = item.Id })'><span class="glyphicon glyphicon-print"></span></a>*@
                                            </div>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IntakeId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>                                        
                                    </tr>
                        }
                            </tbody>
                        </table>
                    }
        
    </p>

   
    <div class="modal fade" id="myCaseRecordingModal" tabindex="-1" role="dialog" aria-labelledby="caseRecordingModalLabel">
        <div class="modal-dialog" role="document" style="padding-top:300px">
            @Html.HiddenFor(model => model.Id)
            <!-- Modal content -->
            <div class="modal-content">


                <div class="modal-header">
                    <h4 class="modal-title" id="caseRecordingModalLabel">Select Intake</h4>
                </div>
                <div class="modal-body">
                    <div id="selectintake">
                        @if (Model.listofintakes != null && Model.listofintakes.Any())
                        {
                            <table class="table table-striped table-hover ">
                                <caption style="display: none">List of Intakes</caption>
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Id</th>
                                        <th class="col-md-1">Date Intake</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.listofintakes)
                                    {

                                        <tr class="">
                                            <td><a href='@Url.Action("EditCaseRecording", "Case", new { Id = Model.Id, CaseheaderId = Model.CaseheaderId, IntakeId = item.Id, CaseRecordingId = 0 })'>@Html.DisplayFor(modelItem => item.Id)</a></td>
                                            <td><a href='@Url.Action("EditCaseRecording", "Case", new { Id = Model.Id, CaseheaderId = Model.CaseheaderId, IntakeId = item.Id, CaseRecordingId = 0 })'>@Html.DisplayFor(modelItem => item.DateIntake)</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>


        </div>
    </div>

    

</div>



